@model Nop.Plugin.Misc.Sms77.Models.VoiceModel 

@{
    Layout = "~/Plugins/Misc.Sms77/Views/Shared/_Bulk.cshtml";
    ViewBag.PageTitle = T("Plugins.Misc.Sms77.Bulk.Voice").Text;
}

@section form
{
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Xml"/>
        </div>

        <div class="col-md-9">
            <input type="checkbox" id="Xml" value="true" name="Xml" @(Model.Xml ? " checked=checked" : null)/>
        </div>
    </div>

}

@section heading
{
    @T("Plugins.Misc.Sms77.Bulk.Voice").Text
}

@section thead
{
    <th>@T("Plugins.Misc.Sms77.Bulk.Code")</th>
    <th>@T("Plugins.Misc.Sms77.Bulk.Cost")</th>
    <th>@T("Plugins.Misc.Sms77.Bulk.Sms77Id")</th>
}

@section tbody
{
    @foreach (var sent in Model.Sent) {
        <tr>
            <td>@sent.Id</td>
            <td>@sent.Config</td>
            <td>@sent.Code</td>
            <td>@sent.Cost</td>
            <td>@sent.Sms77Id</td>
        </tr>
    }
}