@using Nop.Plugin.Misc.Sms77
@model Nop.Plugin.Misc.Sms77.Models.BaseAbstractMessageModel 

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T(ViewBag.PageTitle).Text;
}

<h1 class="text-center">
    @ViewBag.PageTitle
</h1>

<form asp-controller="@Model.ControllerName" asp-action="Bulk" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3" style="display: flex; flex-direction: column; align-items: flex-end;">
            <nop-label asp-for="Text"/>

            <button
                class="btn btn-sm btn-primary"
                data-target="#sms77_placeholders"
                data-toggle="modal"
                id="sms77_toggle_placeholders"
                type="button">
                @T("Plugins.Misc.Sms77.Placeholders")
            </button>
        </div>

        <div class="col-md-9">
            <nop-textarea asp-for="Text" asp-required="true"/>

            <span asp-validation-for="Text"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="SelectedCustomerRoleIds" asp-display-hint="false"/>
        </div>

        <div class="col-md-9">
            <nop-select
                asp-for="SelectedCustomerRoleIds"
                asp-items="Model.AvailableCustomerRoles"
                asp-multiple="true"/>

            <span asp-validation-for="AvailableCustomerRoles"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="From"/>
        </div>

        <div class="col-md-9">
            <nop-editor asp-for="From"/>

            <span asp-validation-for="From"></span>
        </div>
    </div>

    @RenderSection("form", false)

    <div class="col-md-9 col-md-offset-3">
        <input
            class="btn btn-primary"
            name="save"
            type="submit"
            value="@T("Admin.Common.Save")"/>
    </div>
</form>

@RenderSection("history")

<div id="sms77_placeholders" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sms77_toggle_placeholders">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h3 class="modal-title">
                    @T("Plugins.Misc.Sms77.Placeholders")
                </h3>
            </div>

            <div class="modal-body">
                <div
                    aria-label="@T("Plugins.Misc.Sms77.Placeholders")"
                    class="btn-group-vertical btn-block"
                    role="group">
                    @foreach (var placeholder in Personalizer.Placeholders) {
                        <button
                            class="btn btn-info"
                            onclick="navigator.clipboard.writeText('{{' + this.textContent.trim() + '}}')">
                            @placeholder
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(() => {
    const customerRolesIdsInput = 
        $('#@Html.IdFor(m => m.SelectedCustomerRoleIds)').data("kendoMultiSelect");
    
    customerRolesIdsInput.setOptions({
        customerRolesIdsInput: false,
        filter: 'contains'
    });
    
    @if (0 == Model.AvailableCustomerRoles.Count) {
        <text>
            customerRolesIdsInput.setOptions({
                enable: false,
                placeholder: '@T("Admin.Customers.Customers.Fields.CustomerRoles.NoRoles")'
            });
            
            customerRolesIdsInput._placeholder();
            
            customerRolesIdsInput._enable();
        </text>
    }
})
</script>