@using Nop.Plugin.Misc.Sms77
@model Nop.Plugin.Misc.Sms77.Models.BaseAbstractMessageModel 

@{
    Layout = "_AdminLayout";
}

<div id="sms77_placeholders" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="// TODO">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h3 class="modal-title">
                    @T("Plugins.Misc.Sms77.Placeholders")
                </h3>
            </div>

            <div class="modal-body">
                <div class="btn-group-vertical btn-block" role="group" aria-label="@T("Plugins.Misc.Sms77.Placeholders")">
                    @foreach (var placeholder in Personalizer.Placeholders) {
                        <button class="btn btn-info" onclick="navigator.clipboard.writeText('{{' + this.textContent.trim() + '}}')">
                            @placeholder
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center">
    @RenderSection("heading", true)
</h1>

<form asp-controller="@Model.ControllerName" asp-action="Bulk" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Text"/>

            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#sms77_placeholders">
                @T("Plugins.Misc.Sms77.Placeholders")
            </button>
        </div>

        <div class="col-md-9">
            <nop-textarea asp-for="Text" asp-required="true"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="SelectedCustomerRoleIds" asp-display-hint="false"/>
        </div>

        <div class="col-md-9">
            <nop-select
                asp-for="SelectedCustomerRoleIds"
                asp-items="Model.AvailableCustomerRoles"
                asp-multiple="true"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="From"/>
        </div>

        <div class="col-md-9">
            <nop-editor asp-for="From"/>
        </div>
    </div>

    @RenderSection("form", false)

    <div class="col-md-9 col-md-offset-3">
        <input
            class="btn btn-primary"
            name="save"
            type="submit"
            value="@T("Admin.Common.Save")"/>
    </div>
</form>

<table class="table table-bordered">
    <caption>
        <h2>@T("Plugins.Misc.Sms77.Bulk.History")</h2>
    </caption>

    <thead>
    <tr>
        <th>@T("Plugins.Misc.Sms77.Bulk.ID")</th>
        <th>@T("Plugins.Misc.Sms77.Bulk.Config")</th>
        @RenderSection("thead", true)
    </tr>
    </thead>

    <tbody>
    @RenderSection("tbody", true)
    </tbody>
</table>

<script>
$(() => {
    const customerRolesIdsInput = 
        $('#@Html.IdFor(m => m.SelectedCustomerRoleIds)').data("kendoMultiSelect");
    
    customerRolesIdsInput.setOptions({
        customerRolesIdsInput: false,
        filter: 'contains'
    });
    
    @if (0 == Model.AvailableCustomerRoles.Count) {
        <text>
            customerRolesIdsInput.setOptions({
                enable: false,
                placeholder: '@T("Admin.Customers.Customers.Fields.CustomerRoles.NoRoles")'
            });
            
            customerRolesIdsInput._placeholder();
            
            customerRolesIdsInput._enable();
        </text>
    }
})
</script>